/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    
    z-index: 100;
    @include sp {
        padding: 14px 20px 10px 10px;
    }
 

    &__logo {
        position: relative;
        max-width: 165px;
        width: 100%;
        height: 53px;
        margin-right: 53px;

        a::before {
            content: "";
            position: absolute;
            background: url("assets/img/logo.jpg") top right no-repeat;
            width: 164px;
            height: 39px;

            @include sp {
                background: url("assets/img/logoSP.jpg") top right no-repeat;
                width: 123px;
                height: 29px;
            }
        }

        a {
            span {
                position: absolute;
                font-family: "SegoeUI";
                font-size: 1.2rem;
                color: #3c3c3c;
                top: 32px;
                left: 50px;
                letter-spacing: 0.02em;

                @include sp {
                    font-size: 1rem;
                    top: 26px;
                    left: 32px;
                }
            }
        }

        a:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &__recruit {
        position: relative;
        max-width: 185px;
        width: 100%;
        height: 50px;
        background-color: #0080cc;
        border-radius: 9px;
        padding: 11px 5px 0 27px;

        @include tab {
            margin-left: auto;
            max-width: 157px;
            height: 40px;
            top: 0;
            padding: 6px 0 10px 27px;
        }

        @include sp {
            max-width: 122px;
            width: 100%;
            height: 38px;
            padding: 10px 0 0 29px;
            top: -8px;
            right: 10px;
        }

        p {
            font-family: "YuGothicUI-Regular";
            text-align: center;
            font-size: 1.8rem;
            letter-spacing: 0.124em;
            font-weight: 400;
            color: #fff;

            @include tab {
                font-size: 1.6rem;
            }

            @include sp {
                font-size: 1.2rem;
                letter-spacing: 0.28em;
            }
        }

        p::before {
            content: "";
            position: absolute;
            background: url("assets/img/assignment.svg") center no-repeat;
            width: 20px;
            height: 20px;
            left: 35px;
            top: 24%;

            @include tab {
                left: 25px;
            }

            @include sp {
                left: 15px;
                top: 9px;
            }
        }
    }

    &__btn {
        &--open {
            position: relative;
            width: 30px;
            height: 20px;
            top: -8px;
            right: -10px;
        }

        &--close {
            position: relative;
            width: 23px;
            height: 23px;
            top: -7px;
            right: -9px;
            display: none;
        }


    }

}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    width: 100%;
    margin-top: 12px;

    @include tab {
        order: 3;
        
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include sp {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
        }
    }

    li {
        position: relative;
        margin-bottom: 5px;
    }

    li::before {
        content: "";
        background: #0080cc;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 8px;
    }
   

    a {
        font-family: "YuGothicUI-Regular";
        font-size: 1.6rem;
        color: #0080cc;
        letter-spacing: 0.02em;
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 11px 0;
        @include sp {
            font-size: 2rem;
            letter-spacing: 0.054em;
        }


    }

    // a::before {

    //     @include sp {
    //         content: "";
    //         position: absolute;
    //         background: url("assets/img/play.svg") center no-repeat;
    //         width: 24px;
    //         height: 24px;
    //         left: -35px;
    //         top: 2px;
    //     }
    // }
}
