<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <!-- <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <h2>LOREM IPSUM</h2>
      <p>In volutpat metus quis velit malesuada</p>
      <a href="<%= BASE_URL %>about.html" class="c-btn1">JOIN NOW</a>
    </div>
  </section> -->


  <section id="c-about" class="p-top1 c-fadeinup">
    <div class="l-container">
      <div class="c-about">
        <div class="c-about__txt c-about__box">
          <h2 class="c-title2">私たちについて</h2>
          <p class="c-about__txt--01">多能工と呼ばれるプロの職人集団が、外構工事（家の外回りの工事）を中心に事業を展開する会社です。<br>多能工とは、様々な建設作業が出来る職人の事を意味します。 </p>
          <p class="c-about__txt--01">当社の職人は、重機作業、鉄筋作業、型枠作業、左官作業、電気工事、金物取付作業、土木作業植栽作業、設備作業の全てを1人で行ないます。</p>
          <p class="c-about__txt--01"> 体力仕事も少なからず存在しますが、ベトナム人研修生や最新の道具が手助けしますので、昔よりも作業内容は簡略化されています。<br>当社では今後も最新設備を取り入れ、作業負担の軽減化を進めていく予定です。</p>
          <p class="c-about__txt--01">また、最新道具が発展した現在でも多能工職人になることは難しいのですが、 当社は関西の中でもとくに職人の在籍率が高い会社でもあります。</p>
          <p class="c-about__txt--01">今では解体工事、リフォーム工事、新築工事なども施工する会社となり、より深く様々な作業を身に付ける事ができる未来発展型の会社です。</p>
        </div>
        <div class="c-about__img c-about__box">
          <picture class="c-about__img--box c-about__img--01">
            <source media="(max-width: 767px)" srcset="./assets/img/sp/photo1.jpg">
            <img src="./assets/img/photo1.jpg" alt="私たちについて">
          </picture>
          <picture class="c-about__img--box c-about__img--02">
            <source media="(max-width: 767px)" srcset="./assets/img/sp/photo2.jpg">
            <img src="./assets/img/photo2.jpg" alt="私たちについて">
          </picture>
        </div>
      </div>
    </div>
  </section>


  <section class="p-top2">
    <div class="l-workwrap">
      <div class="c-title">
        <h2 class="c-title__bigtit">私たちの仕事</h2>
        <p class="c-title__subtit">
          エクステリアのプロ集団と言っても、
          <br class="sp-only">仕事内容はさまざまです。
          <br>仕事をしていく上で、「あなたの興味のあること」「向いていること」が見つけられるかもしれません。
        </p>
      </div>
      <div class="c-work">
        <div class="c-work__inner">
          <div class="c-work__inner--img">
            <picture class="u-wimg1">
              <source media="(max-width: 767px)" srcset="./assets/img/sp/photo3.jpg">
              <img src="./assets/img/photo3.jpg" alt="仕事内容の紹介">
            </picture>
            <picture class="u-wimg1">
              <source media="(max-width: 767px)" srcset="./assets/img/sp/photo4.jpg">
              <img src="./assets/img/photo4.jpg" alt="仕事内容の紹介">
            </picture>
            <picture class="u-wimg1">
              <source media="(max-width: 767px)" srcset="./assets/img/sp/photo5.jpg">
              <img src="./assets/img/photo5.jpg" alt="仕事内容の紹介">
            </picture>
            <picture class="u-wimg1">
              <source media="(max-width: 767px)" srcset="./assets/img/sp/photo6.jpg">
              <img src="./assets/img/photo6.jpg" alt="仕事内容の紹介">
            </picture>
          </div>
          <div class="c-work__inner--text">
            <h3 class="u-title">仕事内容の紹介</h3>
            <p class="u-subtitle">屋外での現場作業をメインに行ないます。</p>
            <div class="c-intro">
              <dl>
                <dt>1</dt>
                <dd>重機の運転、土木作業の手元</dd>
              </dl>
              <dl>
                <dt>2</dt>
                <dd>ブロック積み、フェンス、カーポート、門扉、照明、ポスト、表札と言われる金物商品の取付工事。</dd>
              </dl>
              <dl>
                <dt>3</dt>
                <dd>左官作業と言われるコンクリートを扱う工事作業。</dd>
              </dl>
              <dl>
                <dt>4</dt>
                <dd>電気工事（照明、インターホンの取付）</dd>
              </dl>
              <dl>
                <dt>5</dt>
                <dd>設備工事（給水管、排水管の設置）</dd>
              </dl>
              <dl>
                <dt>6</dt>
                <dd>植栽工事（新築への植栽の植え付け作業）</dd>
              </dl>
              <dl>
                <dt>7</dt>
                <dd>鉄筋の組立て作業</dd>
              </dl>
              <dl>
                <dt>8</dt>
                <dd>型枠の設置工事</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<!-- @@content -->

<!-- @script -->
<script>
  console.log("home page");
</script>
<!-- @@script -->
