<header class="c-header">
<div class="l-headerwrap">
  <h1 class="c-header__logo">
    <a href="<%= BASE_URL %>index.html">
      <!-- <img src="/assets/img/logo.jpg" alt="Logo"> -->
      <span> Recruitment 2020</span>
    </a>
  </h1>
  <nav class="c-gnav pc-only">
    <ul>
      <li class="c-removeactive"><a href="#about">私たちについて</a></li>
      <li class="c-removeactive"><a href="#works">私たちの仕事</a></li>
      <li class="c-removeactive"><a href="#career">キャリアプラン</a></li>
      <li class="c-removeactive"><a href="#interview">社員インタビュー</a></li>
      <li class="c-removeactive"><a href="#company">会社情報</a></li>
    </ul>
  </nav>
  <div class="c-header__recruit">
    <p>募集要項</p>
</div>

<div class="c-header__btn sp-only">
  <div class="c-header__btn--open">
    <img src="assets/img/menu.svg" alt="Icon menu">
  </div>
  <div class="c-header__btn--close">
    <img src="assets/img/menuclose.svg" alt="Icon menu close">
  </div>
</div>
</div>
</header>

<!-- <div class="c-menu">
    <ul>
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link=> { %>
          <li>
            <a <% if (link.current || link.active) { %>class="is-active"<% } %>
                href="<%= link.url %>">
            <%= link.title %>
            </a>
          </li>
        <% }) %>
      <% } %>
    </ul>
    <div class="c-menu__recruit">
      <p>募集要項</p>
    </div>

</div> -->

